.gridCell{
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
}

.gridRow{
    margin-top: 0px;
    margin-bottom: -4px;
}

#divWrapper{
    width: 100%;
    text-align: center;
}

button{
  background-color: #464646; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {background-color: #a3a3a3}

button:active {
  background-color: #bbbbbb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btnClass{
    text-align: center;
}